body {
	background-color: gray;
	display: flex;
	flex-direction: column;
	justify-content: none;
	align-items: center;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	padding-top: 0px;
	padding-left: 0px;
}

.NavBar {
	background-color: black;
	padding-top: 12px;
	padding-bottom: 10px;
	width: 100%;
	height: 150px;
	margin-bottom: 1px;
	margin-left: 0px;
	margin-top: 0px;
	display: flex;
	flex-direction: wrap;
	justify-content: space-between;
	align-items: center;
}


.Logo {
	color: #00ff00;
	letter-spacing: 1px;
	font-weight: bold;
	font-size: 40px;
	background-color: black;
	border: solid 5px #00ff00;
	border-radius: 40px;
	width: 460px;
	height: 100%;
	margin-right: 10px;
	
	display: flex;
	flex-direction: center;
	justify-content: center;
	align-items: center;
	text-align: center;

}

.theFlex {
	display: flex;
	flex-direction: center;
	justify-content: flex-end;
	align-items: center;
	text-align: center;
	
}

.SettingIcon {
	border: solid 5px none;
	background-color: black;
	padding: 30px;	
}

.Icon {
	width: 100px;
	height: 100%;
}

.NavText {
	display: none;

}

li.navText {
	list-style: circle;

}

.NavWords {
	margin: 0px;
}


.NavText.show {
	background-color: black;
	letter-spacing: 8px;
	color: #00ff00;
	font-size: 40px;
	font-weight: bold;
	margin-top: 886px;
	padding-top: 50px;
	padding-left: 0px;
	padding-right: 50px;
	border: solid 5px #00ff00;
	border-radius: 100px;
	width: 300px;
	height: 1000px;
	z-index: 10;

	

	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-start;
	text-align: start;
	
}

@media (min-width: 1100px) {
	.SettingIcon {
		display: none;
		}
	.NavText {
		background-color: black;
		color: #00ff00;
		font-size: 45px;
		font-weight: bold;
		letter-spacing: 2px;
		padding: 0px;
		padding-left: 30px;
		margin-right: 2px;
		border: solid 5px #00ff00;
		border-radius: 100px;
		width: 800px;
		height: 150px;
		

		display: flex;
		flex-wrap: none;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		text-align: center;
		

		
	}
	
	
	
	.opening {
	background-color: black;
	width: 100%;
	height: 700px;
	color: #0e3742;
	
	display: grid;
	place-items: center;
}

.openingText{
	padding-right: 50px;
	padding-bottom: 50px;
	padding-top: 0px;
	margin-bottom: 200px;
	
  	width: 7ch;
  	animation: typing 1s steps(20), blink .0s step-end infinite alternate;
  	white-space: nowrap;
  	overflow: hidden;
  	border-right: 3px solid;
  	font-family: monospace;
  	font-size: 20em;
  	letter-spacing: 5px;
  	color: #fff;
  	text-shadow: 0 0 10px #03bcf4,
					0 0 20px #03bcf4,
					0 0 40px #03bcf4,
					0 0 80px #03bcf4,
					0 0 160px #03bcf4;	
}

@keyframes blink {
	50% {border-color: transparent}
}

@keyframes typing {
	from {width: 0}
}

}
	


.XtraContent {
	width: 100%;
	height: 950px;
	background-color: green;
	margin-top: 1px;
	}
