body {
	background-color: black;
	margin-top: 50px;
		display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-direction: column;

}

.Portfolio {
	background-color: black;
	color: #00ff17;
	font-size: 300px;
	font-weight: bold;
	margin: 0px;
	padding: 10px;
	width: 90%;
	height: 200px;
	border: solid #00ff17 10px;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-direction: column;
}

.Portfolio:hover {
	background-color: black;
	color: lightblue;
	border: solid lightblue 10px;
}

.Portfolio:active {
	background-color: black;
	color: white;
	border: solid white 10px;

}

.Develoment {
	color: white;
}










































